<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Opportunity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	
		
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3> Add Candidate</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/addCandidates}" th:object="${Recruit}" method="post">
                    
                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                                 <label for="candidateid" class="col-form-label">candidateid</label> 
   								 <input type="text" th:field="*{candidateid}" class="form-control" 
                                            id="candidateid" placeholder="candidateid"/>	
                            </div>
                            <div class="form-group col-md-8">
								  <label for="candidatename" class="col-form-label">candidatename</label> 
    							<input type="text" th:field="*{candidatename}" class="form-control" 
                                            id="candidatename" placeholder="candidatename" />
                                
                            </div>
                            <div class="form-group col-md-8">
                                <label for="current_location" class="col-form-label">current_location</label> 
                                <input type="text" th:field="*{current_location}" class="form-control" 
                                            id="current_location" placeholder="current_location" />
                            </div>
							<div class="form-group col-md-8">
                                <label for="cand_experience" class="col-form-label">cand_experience</label> 
                                <input type="text" th:field="*{cand_experience}" class="form-control" 
                                            id="cand_experience" placeholder="cand_experience" />
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="lastinterview_round" class="col-form-label">lastinterview_round</label> 
                                <input type="text" th:field="*{lastinterview_round}" class="form-control" 
                                            id="lastinterview_round" placeholder="lastinterview_round" />
                            </div>
                            
                            
                            <div class="form-group col-md-8">
                                <label for="selection_status" class="col-form-label">selection_status</label> 
                                <input type="text" th:field="*{selection_status}" class="form-control" 
                                            id="selection_status" placeholder="selection_status" />
                            </div>
                                                                     
                                                
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                       <!--   <input type="hidden" id="id" th:field="*{id}">-->
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>