<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Opportunity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	
		
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3> Add Candidate</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/addCandidates}" th:object="${career}" method="post">
                    
                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                                 <label for="candidate ID" class="col-form-label">candidate ID</label> 
   								 <input type="text" th:field="*{jobCode}" class="form-control" 
                                            id="candidate ID" placeholder="candidate ID"/>	
                            </div>
                            <div class="form-group col-md-8">
								  <label for="Name" class="col-form-label">Name</label> 
    							<input type="text" th:field="*{position}" class="form-control" 
                                            id="Name" placeholder="Name" />
                                
                            </div>
                            <div class="form-group col-md-8">
                                <label for="Current location" class="col-form-label"> Current Location</label> 
                                <input type="text" th:field="*{location}" class="form-control" 
                                            id="Current location" placeholder="Current Location" />
                            </div>
							<div class="form-group col-md-8">
                                <label for="Experience" class="col-form-label">Experience</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="Experience" placeholder="Experience" />
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="Last Interview Round" class="col-form-label">Last InterviewRound</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="Last InterviewRound" placeholder="Last InterviewRound" />
                            </div>
                            
                            
                            <div class="form-group col-md-8">
                                <label for="Last Interview Round" class="col-form-label">Last InterviewRound</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="Last InterviewRound" placeholder="Last InterviewRound" />
                            </div>
                            
                            
                             <div class="form-group col-md-8">
                                <label for="Selection status" class="col-form-label">Selection status</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="Selection status" placeholder="Selection status" />
                            </div>
                            
                                                      
                            
                      <!--      <div class="form-group col-md-8">
                                <label for="Interview Status" class="col-form-label">Interview Status</label> 
                                <input type="text" th:field="*{experience}" class="form-control" 
                                            id="Interview Status" placeholder="Interview Status" />
                            </div>
                            
                             <div class="form-group col-md-8">
                                <label for="Final Status" class="col-form-label">Final Status</label> 
                                <input type="text" th:field="*{experience}" class="form-control" 
                                            id="Final Status" placeholder="Final Status" />
                            </div>-->
                            
                            
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

<!--                            <input type="hidden" id="id" th:field="*{id}">-->
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>