<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Opportunity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	
	<!-- Navigation -->
		<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		    <div class="container">
		        <a class="navbar-brand" href="/">Springboot H2 DB @OKAYCOMPUTING</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
		                aria-expanded="false" aria-label="Toggle navigation">
		            <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarResponsive">
		            <ul class="navbar-nav ml-auto">
		                <li class="nav-item active">
		                    <a class="nav-link" href="#">Home
		                        <span class="sr-only">(current)</span>
		                    </a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">About</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">Services</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" href="#">Contact</a>
		                </li>
		            </ul>
		        </div>
		    </div>
		</nav>
	-->
	
    <div class="container my-5" style="padding-top: 30px;">
    
        <h3> Add Opportunity</h3>
        
        
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form th:action="@{/createJobDetail}" th:object="${career}" method="post">
                    
                    	<div class="row">
                        	
                            <div class="form-group col-md-8">
                                 <label for="jobCode" class="col-form-label">Job Code</label> 
   								 <input type="text" th:field="*{jobCode}" class="form-control" 
                                            id="jobCode" placeholder="Job Code"/>	
                            </div>
                            <div class="form-group col-md-8">
								  <label for="position" class="col-form-label">Position</label> 
    							<input type="text" th:field="*{position}" class="form-control" 
                                            id="position" placeholder="Position" />
                                
                            </div>
                            <div class="form-group col-md-8">
                                <label for="location" class="col-form-label">Location</label> 
                                <input type="text" th:field="*{location}" class="form-control" 
                                            id="location" placeholder="Location" />
                            </div>
							<div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="description" placeholder="Description" />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="experience" class="col-form-label">Experience</label> 
                                <input type="text" th:field="*{experience}" class="form-control" 
                                            id="experience" placeholder="Experience" />
                            </div>
                            
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>