<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Application Form</title>
<link rel="stylesheet" href="styles.css" />
<style>
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}

        
</style>

  </head>
  <body>
	   <div class="container">
      <!--<div class="apply_box">-->
		  <br>
        <h1><i>Career Opportunities</i>
        
        </h1>
        <form action="">
          <div class="form_container">
			  
			  <div class="button_container">
            <button type="submit">Search</button>
             <input type="text" placeholder="JobCode.." name="search">
          </div>
          
             
           <div class="button_container">
 <button id="myButton" onClick="openWindow()" >
          Create New Job
                </button>
    <!--  <p class="my-5">
                <a href="/edit" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Create New Job </i></a>
            </p>  -->        
                
                 </div>
 
    </div>
          
     <div th:switch="${career}" class="container my-5"> 
		  <div class="col-md-10">
                <h2 th:case="null">No record found !!</h2>
                <div th:case="*">
             
<table style="width:100%">
  <tr class="header">
   <th style="width:02%;"></th>
    <th style="width:05%;">JobCode </th>
	<th style="width:05%;">Position</th>
     <th style="width:05%;">Description</th>
      <th style="width:05%;">Location</th>
       <th style="width:05%;">Experience</th>
        <th style="width:20%;">Actions</th>
        
  </tr>
  
  <tr>
    <tr th:each="career : ${career}">
		<td><input type="hidden" id ="careerId" th:value="${career.id}"></td>
        <td th:text="${career.jobCode}"></td>
        <td th:text="${career.position}"></td>
        <td th:text="${career.description}"></td>
        <td th:text="${career.location}"></td>
        <td th:text="${career.experience}"></td>
        
    <td>		<button1 type="submit"  onclick="functionName()">Add Candidate</button1>  

             <button type="submit" class="button1" id="editId" onclick="openeditWindow()"  >Edit </button>   

     <button2 type="submit"><a th:href="@{/delete/{id}(id=${career.id})}" class="btn btn-primary">Delete</a></button2>  
     </td>
   
      </tr>
 
    </table>
   
<!--</div>-->
        </div>
    </form>
    </div>
 <script language="JavaScript">
function openWindow() {
     var w = 480, h = 340;

     if (document.getElementById) { 
         w = screen.availWidth;
         h = screen.availHeight;
     }

var popW = 700, popH = 500;

var leftPos = (w-popW)/2;
var topPos = (h-popH)/2;

msgWindow = window.open('edit','popup','width=' + popW  + ',height=' + popH + ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
}
function openeditWindow() {
	var careerId=document.getElementById("careerId").value;
     var w = 480, h = 340;

     if (document.getElementById) { 
         w = screen.availWidth;
         h = screen.availHeight;
     }

var popW = 700, popH = 500;

var leftPos = (w-popW)/2;
var topPos = (h-popH)/2;

msgWindow = window.open('edit/'+careerId,'popup','width=' + popW  + ',height=' + popH + ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
}
</script>
   
    
 </body>
</html>