<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, 
                   initial-scale=1.0">
                   <h1>Dedicated</h1>
</head>
 
<body>

<form>
<input type="button" onClick="openWindow()" value="Click Me"> 
</form>
<script language="JavaScript">
function openWindow() {
     var w = 480, h = 340;

     if (document.getElementById) { 
         w = screen.availWidth;
         h = screen.availHeight;
     }

var popW = 300, popH = 200;

var leftPos = (w-popW)/2;
var topPos = (h-popH)/2;

msgWindow = window.open('edit','popup','width=' + popW  + ',height=' + popH + ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
}
function openeditWindow() {
     var w = 480, h = 340;

     if (document.getElementById) { 
         w = screen.availWidth;
         h = screen.availHeight;
     }

var popW = 300, popH = 200;

var leftPos = (w-popW)/2;
var topPos = (h-popH)/2;

msgWindow = window.open('edit','popup','width=' + popW  + ',height=' + popH + ',top=' + topPos + ',left=' + leftPos + ', scrollbars=yes');
}
</script>
</body>
</html>